<div>
    <form action="/clientes/agregar" method="POST">
        <div>
            <label for="nombre">nombre</label>
            <input type="text" name="nombre">
        </div>
        <div>
            <label for="nrc">nrc</label>
            <input type="text" name="nrc">
        </div>
        <div>
            <label for="email">email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="telefono">telefono</label>
            <input type="text" name="telefono">
        </div>
        <div>
            <label for="direccion">direccion</label>
            <input type="text" name="direccion">
        </div>
        <div>
            <label for="notas_adicionales">notas adicionales</label>
            <input type="text" name="notas_adicionales">
        </div>
        <div>
            <button type="submit" value="guardar">Guardar</button>
        </div>
    </form>
</div>